{% extends 'base.html' %}
{% block title %} Rowable {% endblock %}
{% block content %}
<h1>Welcome to Rowable!</h1>
<h3>The app that lets you know if it will be safe to row.</h3>

<form method="POST" id="user_form">
        <p>Where and when would you like to row?</p>
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
        <p>Time must be on the hour, e.g. 6:00 AM, or 3:00 PM. Mid hours (3:15 PM, 5:30 AM) will not work.<br>
        Unfortunately at this time we can only provide predictions for up to 2 days in advance.</p>
        <button class="btn btn-primary btn-block btn-lg">Can I row?</button>
      </form>

<p>Don't see your boathouse?<br>
Check out our boathouse list for a list of US boathouses available for activation.<br>
If your boathouse is not on the master list please <a href="mailto:safetorow@gmail.com">send us an email</a> and we will get it added!</p>
{% endblock %}