{% extends 'base.html' %}
{% block title %} Rowable user details {% endblock %}
{% block content %}
<h1>{{ user.username }}</h1>
<h4>{{ user.email }}</h4>
{% if user.boathouses %}
<h5>My favorite boathouses</h5>
<li>{{ user.boathouses }}</li>
{% endif %}
{% for boathouse in boathouses %}
<a href="/boathousedetail/{{ boathouse.id }}">{{ boathouse.name }}</a>
{% endfor %}
<br>
Choose your preferred temperature units and add a favorite boathouse:
<form method="POST" id="edit_user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-primary btn-block btn-md">Submit</button>
      </form>
<br><br>
<a href="/userdetail/{{ user.id }}/delete">Delete user</a>
{% endblock %}