{% extends 'base.html' %}
{% block title %} Rowable user details {% endblock %}
{% block content %}
<h1>{{ user.username }}</h1>
<h3>{{ user.email }}</h3>
<h3>My favorite boathouses</h3>
<p>{{ user.boathouses }}</p>
<form method="POST" id="edit_user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-primary btn-block btn-lg">Submit</button>
      </form>
{% endblock %}